<h1>New Viagem</h1>

	<% form_tag viagens_path, :method => :post do -%>
		<p>
		Pessoa: <select name='pessoa_id'>
			<% for pessoa in @pessoas %>
				<option value='<%=h pessoa.neo_id%>'><%=pessoa.nome%></option>
			<% end %>
		</select>
		</p>
		
		<p>
			Lugar: <select name='lugar_id'>
				<% for lugar in @lugares %>
					<option value='<%=h lugar.neo_id%>'><%=lugar.cidade%></option>
				<% end %>
			</select>	
		</p>
		
		<p>
			<input type="submit" value="Gravar">
		</p>
   <% end %>

   <%= link_to 'Back', pessoas_path %>

